<section id="portfolio">
    <div class="container">
        <div id="wrapper-portfolio">

            <a href="https://rayanem-portfolio.000webhostapp.com/">
                <div class="portfolio-card" id="pc">
                    <div></div>
                    <h5>Portfolio</h5>
                    <p>Portfolio Rayane Masmoudi </p>
                </div>
            </a>
            <a href="https://heloisepingitore.codes/">
                <div class="portfolio-card" id="pc2">
                    <div></div>
                    <h5>Portfolio </h5>
                    <p>Portfolio heloise Pingitore</p>
                </div>
            </a>
            <a href="https://www.romanevergneault.fr/">
                <div class="portfolio-card" id="pc3">
                    <div></div>
                    <h5>Portfolio </h5>
                    <p>Portfolio Romane Vergneault </p>
                </div>
            </a>
            <a href="https://enzocailleton.com/">
                <div class="portfolio-card" id="pc4">
                    <div></div>
                    <h5>Portfolio</h5>
                    <p>Portefolio Enzo Cailleton </p>
                </div>
            </a>
            <div class="portfolio-card">
                <div>
                    <ngx-skeleton-loader count="1" animation="progress-dark" [theme]="{background: '#242426', width:'100%', height:'100%', 'border-radius': '5px' }" class="skeleton-loader"></ngx-skeleton-loader>

                </div>
                <h5>Portfolio</h5>
                <p>prochainement</p>
            </div>
            <div class="portfolio-card">
                <div>
                    <ngx-skeleton-loader count="1" animation="progress-dark" [theme]="{background: '#242426', width:'100%', height:'100%', 'border-radius': '5px' }" class="skeleton-loader"></ngx-skeleton-loader>
                </div>
                <h5>Portfolio </h5>
                <p>prochainement</p>
            </div>
            <div class="portfolio-card">
                <div>
                    <ngx-skeleton-loader count="1" animation="progress-dark" [theme]="{background: '#242426', width:'100%', height:'100%', 'border-radius': '5px' }" class="skeleton-loader"></ngx-skeleton-loader>
                </div>
                <h5>Portfolio </h5>
                <p>prochainement</p>
            </div>
            
        </div>

       
    </div>
    
</section>